$maxWidth: 1440;

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

@mixin adaptiv-img($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 375;
  height: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}


//templates

%how-child{
  position: absolute;
  display: block;
  width: 110px;
  height: 110px;
  background-color:  $white;
  border: 2px dashed $gray;
  border-radius: 50%;
  overflow: hidden;
  color: $primary-color;
  text-align: center;
  padding-top: 20px;
  font: bold 50px/59px Oswald, sans-serif;
  top: -55px;
  left: calc(50% - 55px);
  transition: .4s ease-in-out;
}

%reset{
  content: "";
  position: absolute;
}
