@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');

body{
  font: 400 normal 18px/19px "Open Sans", sans-serif;
}
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
.col-25{
  width: 25%;
}
.center{
  text-align: center;
}

h4  {
  font: 600 50px/59px Oswald, sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.btn {
    & a {
      background: #00BD4C;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
      border-radius: 28px;
      text-transform: uppercase;
      font: 400 22px/26px Oswald, sans-serif;
      color: white;
      padding: 10px 29px;
      transition: .4s ease-in-out;
    }
}

.header-row > *{
  display: inline-block;
}
.header{
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &__logo{
    width: 30%;
    & img{
      vertical-align: middle;
    }
  }

  &__navigation{
    width: 40%;
    & ul li{
      display: inline-block;
      margin: 0 32px;
      & a{
        text-transform: uppercase;
        color: black;
        font: 400 18px/21px Oswald,sans-serif;
        display: block;
        padding: 23px 0px;
        position: relative;
        cursor: pointer;

        &:hover:after,
        &:focus:after{
          width: 100%;
        }
        &:after{
          content: "";
          display: block;
          position: absolute;
          bottom: 15px;
          right: 0;
          height: 3px;
          width: 0;
          background-color: #00BD4C;
          transition: width .3s ease-out;
        }
      }
    }
  }

  &__btn{
    width: 29%;
    text-align: right;
  }
}

.title {
  background: url("../img/main/main_background.jpg") center/cover no-repeat;
  padding: 4.44rem 4.44rem 8rem;

  h1 {
    font: 600 82px/97px Oswald, sans-serif;
    margin-bottom: 20px;

    & span {
      color: #00bd4c;
    }
  }

  & p {
    margin-bottom: 40px
  }
}

.clients{
  padding: 90px 20px;
  & h4{
    color: #404040;
    margin-bottom: 70px;
  }
}

.services{
  background: #DCDCDC;
  padding: 90px 0px;

  & h4{
    margin-bottom: 70px;
  }

  &__row{
    margin-bottom: 70px;
  }

  &__item{
    padding: 10px;
    float: left;


  }
  &__inner{
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    max-width: 305px;
    padding: 30px;
    position: relative;
    font-size: 16px;
    transition: .2s ease-in-out;

    &:hover{
      box-shadow: 0 0 15px rgb(0 0 0 / 50%);
    }


    & .attachment{
      position: absolute;
      right: 0;
      bottom: 0;
      background: #00BD4C;
      border-radius: 15px 0px 0px 0px;
      writing-mode: vertical-lr;
      transform: rotate(-180deg);
      color: white;
      padding: 50px 14px 28px;
      font: 500 16px/19px Oswald, sans-serif;
      letter-spacing: 1px;

      &:after{
        content: "";
        display: block;
        background: url("../img/main/services/icon/arrow.svg") 0 0 no-repeat;
        width: 10px;
        height: 15px;
        position: absolute;
        right: calc(50% - 5px);
        top: 19px;
        transform: rotate(180deg);
      }
    }

    & h6{
      font: 400 20px/24px Oswald, sans-serif;
      margin-bottom: 7px;
      color: black;
      padding-right: 18px;
    }
    & p{
      color: #BBBBBB;
      font-size: 16px;
      padding-right: 16px;
    }

    & img{
      display: block;
      margin: 0px auto 27px;
      min-height: 140px;
    }
  }
  &__btn .btn a:hover{
    background: #fff;
    border-color: #00BD4C;
    color: #00BD4C;
    box-shadow: none;
  }
}

.how{
  padding: 90px 0px 40px;

  & h4{
    margin-bottom: 130px;
  }

  &__steps{
    & h3{
      font: 400 32px/38px Oswald, sans-serif;
      color: black;
      margin-bottom: 10px;
    }

    & p{
      font: 400 22px/24px "Open Sans", sans-serif;
      color: #BBBBBB;
    }
    & li{
      padding: 60px 62px 40px;
      border: dotted 2px #BBBBBB;
      max-width: 555px;
      border-radius: 15px;
      position: relative;
      background-color: white;
      transition: .3s ease-in-out;



      &:hover{
        border: solid 2px #00bd4c;
      }

      &:nth-child(odd){
        float: left;
        margin-top: 190px;
        &:after{
          content: "";
          position: absolute;
          width: 450px;
          height: 30px;
          top: -80px;
          right: -32%;
          border-left: 2px dotted #BBB;
          border-top: 2px dotted #bbb;
          z-index: -1;
        }
      }
      &:nth-child(even){
        float: right;
        margin-top: 190px;
        position: relative;

        &:after{
          content: "";
          position: absolute;
          width: 450px;
          height: 30px;
          top: -80px;
          right: 50%;
          border-right: 2px dotted #BBB;
          border-top: 2px dotted #bbb;
          z-index: -1;
        }
      }
      &:first-child{
        margin-top: 0;
        &:after{
          border-top: none;
          border-left: none;
        }
      }

      &:hover:before{
        background: #00BD4C;
        color: #fff;
      }
      &:nth-child(1):hover:before,
      &:nth-child(2):hover:before,
      &:nth-child(3):hover:before,
      &:nth-child(4):hover:before{
        background: #00BD4C;
        color: #fff;
        border: 2px solid #00BD4C;
      }

      &:nth-child(1):before{
        content: "1";
        position: absolute;
        display: block;
        width: 110px;
        height: 110px;
        background-color: #FFFFFF;
        border: 2px dashed #BBBBBB;
        border-radius: 50%;
        overflow: hidden;
        color: #00bd4c;
        text-align: center;
        padding-top: 20px;
        font: bold 50px/59px Oswald, sans-serif;
        top: -55px;
        left: calc(50% - 55px);
        transition: .4s ease-in-out;

      }
      &:nth-child(2):before{
        content: "2";
        position: absolute;
        display: block;
        width: 110px;
        height: 110px;
        background-color: #FFFFFF;
        border: 2px dashed #BBBBBB;
        border-radius: 50%;
        overflow: hidden;
        color: #00bd4c;
        text-align: center;
        padding-top: 20px;
        font: bold 50px/59px Oswald, sans-serif;
        top: -55px;
        left: calc(50% - 55px);
        transition: .4s ease-in-out;

      }
      &:nth-child(3):before{
        content: "3";
        position: absolute;
        display: block;
        width: 110px;
        height: 110px;
        background-color: #FFFFFF;
        border: 2px dashed #BBBBBB;
        border-radius: 50%;
        overflow: hidden;
        color: #00bd4c;
        text-align: center;
        padding-top: 20px;
        font: bold 50px/59px Oswald, sans-serif;
        top: -55px;
        left: calc(50% - 55px);
        transition: .4s ease-in-out;

      }
      &:nth-child(4):before{
        content: "4";
        position: absolute;
        display: block;
        width: 110px;
        height: 110px;
        background-color: #FFFFFF;
        border: 2px dashed #BBBBBB;
        border-radius: 50%;
        overflow: hidden;
        color: #00bd4c;
        text-align: center;
        padding-top: 20px;
        font: bold 50px/59px Oswald, sans-serif;
        top: -55px;
        left: calc(50% - 55px);
        transition: .4s ease-in-out;

      }
    }
  }
}

.get-in-touch{
  background-color: #00bd4c;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  text-align: center;
  padding: 40px 90px 70px;
  max-width: 630px;
  margin: 70px auto 20px;

  & p{
    font: 400 32px/39px "Open Sans", sans-serif;
    color: white;
    margin-bottom: 30px;
  }
  & a{
    color: #404040;
  }
  &__btn{
    & .btn a{
      color: #404040;
      background-color: white;
    }
  }
}

.people{

  &__row{
    margin-bottom: 70px;
  }

  h4{
    margin-bottom: 20px;
  }
  & p{
    float: left;
  }
  &__btn{
    float: right;
  }

  &__photo{
    font-size: 0;
    line-height: 0;

    & > *{
      display: inline-block;
      width: 20%;
      height: 320px;

      & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

.connect{
  background-color: #F5F5F5;
  padding: 70px 0 60px;

  p{
    text-align: center;
    margin-bottom: 70px;
  }

  h4{
    margin-bottom: 17px;
    span{
      color: #00bd4c;
    }
  }
  &__form {
    text-align: center;

    & .form__left{
      width: 30%;
      margin-right: 20px;
      display: inline-block;
      vertical-align: top;
      & .input{
        & + .input{
          margin-top: 10px;

        }
      }
    }
    & .form__right{
      width: 30%;
      display: inline-block;
      vertical-align: top;
    }

  }
  &__form .input input, textarea{
    background: #FFFFFF;
    border: 2px solid #BBBBBB;
    border-radius: 15px;
    padding: 20px 20px;
    width: 100%;
  }
  &__form textarea{
    height: 200px;
  }
}

.checkbox-row{
  display: block;
  margin-top: 20px;

  .option{
    & + .option{
      margin-left: 10px;
    }
  }

  .check{
    padding-left: 1.2em;
  }

  .check__input{
    position: absolute;
    -wedkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .check__box{
    position: absolute;
    margin-left: -1.2em;
    width: 0.8em;
    height: 0.8em;
    border-radius: 0.05em;
    background-color: white;
    box-shadow: 0 0 0 0.1em #00bd4c;
  }

  //checked
  .check__input:checked + .check__box{
    background-color: #00bd4c;
    background-image: url("../img/main/check.svg");
  }

  //focused
  .check__input:focus + .check__box{
    box-shadow:
            0 0 0 0.2em cadetblue,
            0 0 0 0.1em #00bd4c;
  }

  //checked focused
  .check__input:checked:focus + .check__box{}

  //disabled
  .check__input:disabled + .check__box{
    box-shadow: 0 0 0 0.1em gray;
  }

  //checked disabled
  .check__input:checked:disabled + .check__box{
    background-color: gray;
  }
}


footer{
  margin-top: auto;
  min-height: 30px;
  background-color: red;
}

.slider {
  position: relative;
  padding: 0 100px;

  & div picture{
    //height: 76px;
  }
  & img{
    height: auto;
    max-width: 100%;
    width: initial;
    margin: 0 auto;
  }

  & .slider__item{
    margin: 0 auto;
  }
  & .slick-track{
    display: flex;
  }


  & .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -15px 0 0 0;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 30px;

    &.slick-prev {
      left: 0;
      background: url("../img/main/clients/icons/l.png") 0 0/100% no-repeat;
    }

    &.slick-next {
      right: 0;
      background: url("../img/main/clients/icons/r.png") 0 0/100% no-repeat;
    }
  }
}