
$primary-color: #00bd4c;
$black: #000;
$black-1: #404040;
$gray: #bbb;
$gray-1: #f5f5f5;
$light-gray: #dcdcdc;
$white: #fff;


//templates

%how-child{
  position: absolute;
  display: block;
  width: 110px;
  height: 110px;
  background-color:  $white;
  border: 2px dashed $gray;
  border-radius: 50%;
  overflow: hidden;
  color: $primary-color;
  text-align: center;
  padding-top: 20px;
  font: bold 50px/59px Oswald, sans-serif;
  top: -55px;
  left: calc(50% - 55px);
  transition: .4s ease-in-out;
}

%reset{
  content: "";
  position: absolute;
}
