$maxWidth: 1440;

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

@mixin adaptiv-img($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 375;
  height: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}

//colors

$primary-color: #00bd4c;
$black: #404040;
$gray: #bbb;
$light-gray: #dcdcdc;


//arrows

.long-arrow-right {
  display: inline-block;
  position: absolute;
  top: 40%;
  right: 24px;
  width: 13px;
  height: 13px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}

.long-arrow-right {
  transform: rotate(135deg);
}

.long-arrow-right::after {
  content: "";
  display: block;
  width: 2px;
  height: 15px;
  background-color: #fff;
  transform: rotate(-45deg) translate(4.5px, 2px);
  left: 0;
  top: 0;
}

//close icon

.close {
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

//button

.btn {
  display: inline-block;
  position: relative;
  background: $primary-color;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border: 2px solid transparent;
  border-radius: 28px;
  text-transform: uppercase;
  font: 400 22px/26px Oswald, sans-serif;
  color: white;
  padding: 13px 0;
  text-align: center;
  transition: .4s ease-in-out;
  width: 296px;

  &:hover{
    color: $primary-color;
    background-color: white;
    border: 2px solid $primary-color;

    .long-arrow-right{
      border-top: 2px solid $primary-color;
      border-left: 2px solid $primary-color;
    }
    .long-arrow-right::after{
      background-color: $primary-color;
    }

  }
}